{% extends 'blog/basic.html' %}

{% block title %}Blog Post{% endblock %}

{% block css %}
pre{
margin:0;
}
{% endblock %}

{% block body %}

<div class="container">
<div class="row g-5 mt-4">
    <div class="col-md-8">
      <h2 class="pb-4 fst-italic" style="font-family:consolas;">
        {{post.title}}
      </h2>

      <article class="blog-post">
        <pre><h2 class="blog-post-title mb-1">{{post.head0}}</h2></pre>
        <pre><p class="blog-post-meta" style="margin:0;">{{post.pub_date}} by <a href="#">Mark</a></p></pre>

<!--        link for like and share button-->
        <div style="margin-bottom:5px" class="fb-like" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>

        <pre><p>{{post.cont_head0}}</p></pre>
        <hr>
        <pre><h2>{{post.head1}}</h2></pre>
        <pre> <p>{{post.cont_head1}}</p></pre>
        <pre><h3>{{post.head2}}</h3></pre>
        <pre><p>{{post.cont_head2}}</p></pre>
      </article>
      <hr>
      <nav class="blog-pagination" aria-label="Pagination"  style="font-family:consolas;">
        <div style="display:flex;justify-content:space-between;">
        <a class="btn btn-outline-primary rounded-pill" href="{{prev}}" id="prev{{post.post_id}}">Prev</a>
        <a class="btn btn-outline-secondary rounded-pill" href="{{next}}" id="next{{post.post_id}}">Next</a>
          </div>
      </nav>
            <hr>
<!--link for comment plugin-->
      <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}" data-width="" data-numposts="1"></div>


    </div>

    <div class="col-md-4"  style="font-family:consolas;">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">MyCart is an E-Commerce Website</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Contact Us</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}