{% extends 'shop/basic.html' %}
{% block title %} Tracker {% endblock %}
{% block css %}
.form-label{
margin-top:0.5em;
margin-bottom:0;
}
.header{
margin-bottom:2rem;
}
{% endblock %}
{% block body %}
<div class="container">
    <div class='col my-4'>
        <h2 class='header'>Track Your Orders - Enter Your Order ID and Email to Track Your Order</h2>
        <form class="row g-3" method="post" action="#" id="trackerForm">{% csrf_token %}
            <!-- <input type="hidden" name="itemsJson" id="itemsJson"> -->
            <div class="col-md-6">
                <label for="inputname" class="form-label">Order ID</label>
                <input type="text" class="form-control" id="orderId" name="orderId">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary container-fluid" style="margin-top: 2em; width: 10em;">Track Order</button>
            </div>
        </form>
    </div>
    <div class="col my-4" style="visibility: hidden;" id="status">
        <h2 class="header">Your Order Status</h2>
        <div>
            <ul class="list-group" id="items">
            </ul>
        </div>
        <h2 class="header">Your Order Details</h2>
        <div>
            <ul class="list-group" id="citems">
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$('#trackerForm').submit(function(event) {

    $('#items').empty();
    var formData = {
        "orderId": $('input[name=orderId]').val(),
        "email": $('input[name=email]').val(),
        "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
    }
    $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })

        .done(function(data) {
            $('#citems').empty();

            data = JSON.parse(data);
            console.log(data)

            if (data['status'] == 'success') {
                updates = data['update'];
                document.getElementById('status').style.visibility = "visible"; // makes the titles visible.

                for (i = 0; i < updates.length; i++) {
                    let status = updates[i]['text'];
                    let time = updates[i]['time'];

                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center" style="font-weight:500;">
                    ${status}
                    <span class="badge" style="font-size:105%;font-weight:500;">${time}</span>
                </li>`
                    $('#items').append(mystr);
                }

                // fill in the order details
                cart = JSON.parse(data['itemsJson']);
                // console.log(cart)
                totalCost = 0
                totalItems = 0
                for (item in cart) {
                    let qty = cart[item][0];
                    let name = cart[item][1];
                    let price = cart[item][2];
                    totalItems += qty;
                    totalCost += Number(price.slice(0, -2));
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name} 
                    <span style="font-size:105%;font-weight:500;">${price}</span>
                    <span style="font-size:105%;font-weight:500;">${qty}</span>
                </li>`
                    $('#citems').append(mystr);
                }
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge rounded=pill"  style="font-size:150%; font-weight:500;background-color:#f9dc5f;"> Total Amount : ${totalCost}/-</span>
                <span class="badge rounded=pill"  style="font-size:150%; font-weight:500;background-color:#f9dc5f;"> Total Items : ${totalItems}</span>
                </li>`
                $('#citems').append(mystr);

            } else if (data['status'] == 'empty') {
                document.getElementById('status').style.visibility = "visible"; // makes the titles visible.

                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center mb-4" style="font-weight:500;">
                    Invalid Order ID OR Email Please TryAgain
                </li>`


                $('#items').append(mystr);
                $('#citems').append(mystr);
            }



        });

    event.preventDefault();



});
</script>
{% endblock %}